name: Linters
on:
  push:
  pull_request:
  schedule:
    - cron: "0 7 * * *"

jobs:
  clippy:
    name: clippy
    runs-on: ubuntu-latest
    steps:
      - name: Install sasl
        run: sudo apt update -y && sudo apt-get install -y libsasl2-dev
   
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          components: clippy
          override: true
      - uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --all-features

  fmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - stable
    steps:
      - name: Install sasl
        run: sudo apt update -y && sudo apt-get install -y libsasl2-dev
   
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          components: rustfmt
          toolchain: ${{ matrix.rust }}
          override: true
      - uses: actions-rs/cargo@v1
        with:
          toolchain: stable
          command: fmt
          args: --all -- --check
